body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.prnt{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
   
}
.container{
    height: 50%;;
    width:18%;
    border: 2px solid black;
    display:inline-grid;
    grid-template-rows: min-content ;
    grid-gap: 0.1rem;
    padding:.2rem;
  
}
.child-item{
    display: grid;
    grid-template-columns: repeat(4,minmax(50px,1fr));
    grid-gap:0.2rem;
    
}
.child-item:first-child{
    width: 96%;
    height: 35px;
    border:1px solid black;
    margin: 0.2em;
}
.btn{
    /* width: 2.9rem; */
    flex-basis: 25%;
     font-size: xx-large;
    font-weight: 600;
}
#zero{
    grid-column: 1/3;
}
.operator{
    background-color: orangered;
    color:white;
}